p {
     line-height: 1.5;
 }

 img {
     max-height: 400px;
     max-width: 400px;
 }
 
 .color {
     color: royalblue;
 }

 em {
    font-size: 19px;
    color: lightcoral;
 }
 .monthtitle {
    color: black;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 4px;
 }
.progtitle {
    color: black;
    font-size: 20px;
    letter-spacing: 3px;
}
.report {
    color: black;
    font-size: 18px;
    letter-spacing: 2px;
}

.report br {
    color: turquoise;
    font-size: 16px
}
/*NEW CALENDAR SETTINGS*/
.nums {
    height: 130%;
    width: auto;
    margin-bottom: 0px;
}
.days {
    height: 130%;
    width: auto;
    margin-bottom: 0;

}

.col.done {
    background-color: lightgreen;
}
.col.missed {
    background-color: lightsalmon;
}
.col.rest{
    background-color: lightgoldenrodyellow;
}
/*new calenday DAYS of WEEK */
.col h1 {
    font-size: 200%
}
.nums p {
    font-size: 100%;
}
.daynum {
    font-size: 110%;
    font-weight: bold;
}
.daynum br {
    font-size: 100%;
    font-weight: normal;
}

.navbar-header img {
    height: 60px;
    width: auto;
}
li button {
    margin-left: 850%;
}

/*numreport*/
.progdesc {
    display: inline;
}
.card-header h2 {
    font-size: 120%;
}
.numreport.green {
    color: green;
}
.numreport.red {
    color: red;
}
.numreport.yellow{
    color: darkgoldenrod;
}

@media (max-width: 575.98px) {
    body{
        font-size: 60%;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    body {
        font-size: 70%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    body {
        font-size: 80%;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    body {
        font-size: 90%;
    }
}

@media (min-width: 1200px) {
    body {
        font-size: 100%;
    }
}

.form-group {
    display: inline;
}
.steps li {
    text-align: left;
}

footer .container {
    margin-top: 30px;
}
footer {
    font-size: 70%
}
.calendar {
    width: 100%
}
#totalbutton { 
    margin-bottom: 20px;
}
#forButton .row {
    justify-content: center;
}
#carddeck .card {
    transition: 0.4s;
}

.card:hover {
    background-color: #E0FFFF;
}

.card-header {
    transition: 0.4s;
}

/* Loader css taken from stackoverflow */
.loader,
        .loader:after {
            border-radius: 50%;
            width: 10em;
            height: 10em;
        }
        .loader {            
            margin: 60px auto;
            font-size: 10px;
            position: relative;
            text-indent: -9999em;
            border-top: 1.1em solid rgba(255, 255, 255, 0.2);
            border-right: 1.1em solid rgba(255, 255, 255, 0.2);
            border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
            border-left: 1.1em solid black;
            -webkit-transform: translateZ(0);
            -ms-transform: translateZ(0);
            transform: translateZ(0);
            -webkit-animation: load8 1.1s infinite linear;
            animation: load8 1.1s infinite linear;
        }
        @-webkit-keyframes load8 {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
        @keyframes load8 {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
        #loadingDiv {
            background-color:white;
        }



  


